
body {
    background-color: #363b3f;
    color: white;
}

.center-block, .centerTip {
    text-align: center !important;
}

.centerTip {
    font-weight: bold;
}

p {
    font-family: 'Quicksand';
/*    font-style: italic;*/
}

h2, h1 {
    font-family: 'Quicksand', serif;
    margin-left: 70px;
    font-weight: 400;
}

svg {
    margin: 20px;
}

.axis path {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: "Lato";
    font-size: 11px;
    fill: white;
}

/*
.x.axis path {
  display: none;
}
*/

.line {
    fill: none;
    stroke: #ecffc4;
    stroke-width: 3px;
}

g {
    font-family: "Quicksand";
}

#description {
    font-family: 'Quicksand';
    color: white;
}

.selected {
    fill: #ecffc4;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

#worldPopulation {
    font-size: 30px;
    color: #ecffc4;
}

.dot {
  stroke: none;
}

.scatterCircle {
    stroke: white;
}

.circle {
  fill: none;
  stroke: white;
}

#countryName {
    text-transform: capitalize;
}

