
body {
    background-color: #363b3f;
    color: white;
}

.center-block {
    text-align: center !important;
}
p {
    font-family: 'Alegreya';
    font-style: italic;
}

h2 {
    font-family: 'Alegreya', serif;
    margin-left: 70px;
}
svg {
    margin: 20px;
}

.axis path {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: "Lato";
    font-size: 11px;
    fill: white;
}

/*
.x.axis path {
  display: none;
}
*/

.line {
    fill: none;
    stroke: #ecffc4;
    stroke-width: 3px;
}

g {
    font-family: "Lato";
}

#description {
    font-family: 'Alegreya';
    color: white;
}

.selected {
    fill: #ecffc4;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.howMany {
    font-size: 30px;
    color: #ecffc4;
}

.dot {
  stroke: #000;
}

circle {
  fill: none;0
  stroke: none;
}

circle.leaf {
  fill: rgba(31, 119, 180, 0.7);
  stroke: rgb(31, 119, 180);
  stroke-width: 2px;
  fill-opacity: 1;
}
